@model PortfolioPage.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container-fluid">
    <div class="row">
        <section class="title-header blog-pages-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3>@ViewBag.Title.</h3>
                            <span class="st-border"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container col-md-10 col-sm-10 col-xs-10 center-block blog-post-pagescontent">
            <div class="row">
                <div class="col-xs-12 col-sm-8 center-block">
                    <div class="row">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Create a new account.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>
                        }
                        <div class="row blog-details-btn-row">
                            <a class="btn btn-readmore" href='@Url.Action("Index", "BlogPosts")'>Back to Blog List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
