@model PortfolioPage.Models.IndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage";
}


<!--<Body> custom layout for blog start-->
<div class="container-fluid">
    <div class="row">
        <section class="title-header blog-pages-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3>Blog Account @ViewBag.Title.</h3>
                            <span class="st-border"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container col-md-10 col-sm-10 col-xs-10 center-block blog-post-pagescontent">
            <div class="row">
                <div class="col-xs-12 col-sm-8 center-block">
                    <div class="row">
                        <h4>Account Settings</h4>
                        <hr />
                    </div>
                    <div class="row acc-manage-table">
                        <div class="row">
                            <div class="row">@*DisplayName Row*@
                                <div class="col-xs-10 col-sm-3">
                                    <h5>Display Name:</h5>
                                </div>
                                <div class="col-xs-10 col-sm-9">
                                    @Model.UserDisplayName
                                </div>
                            </div>
                            <div class="row">@*Email Row*@
                                <div class="col-xs-10 col-sm-3">
                                    <h5>Email Login:</h5>
                                </div>
                                <div class="col-xs-10 col-sm-9">
                                    @Model.UserEmail
                                </div>
                            </div>
                            <div class="row">@*Password Row*@
                                <div class="col-xs-10 col-sm-3">
                                    <h5>Password:</h5>
                                </div>
                                <div class="col-xs-10 col-sm-9">
                                    @if (Model.HasPassword)
                                    {
                                        @Html.ActionLink("Change Password", "ChangePassword")
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Create", "SetPassword")
                                    }
                                </div>
                            </div>
                            <div class="row">@*External Login Row*@
                                <div class="col-xs-10 col-sm-3">
                                    <h5>External Logins:</h5>
                                </div>
                                <div class="col-xs-10 col-sm-9">
                                    @Model.Logins.Count [
                                    @Html.ActionLink("Manage", "ManageLogins") ]
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr />
                        <a class="btn btn-readmore" href='@Url.Action("Index", "BlogPosts")'>Back to Blog List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<\Body> custom layout for blog end--><h2></h2>

        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@

            @*        <dt>Two-Factor Authentication:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>


            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@

